<nav class="navbar navbar-expand-lg bg-primary navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=" {% url 'home_page' %} ">Home</a>
        </li>
        

          <li class="nav-item">
          <a class="nav-link inactive" aria-current="page" href="{% url 'logout_page' %}">logout</a>
        </li>
        {% if request.user.user_type == 'admin' %}
         <li class="nav-item">
          <a class="nav-link inactive" aria-current="page" href=" {% url 'panding_list' %} ">panding_list</a>
        </li>
        {% endif %}


         <li class="nav-item">
          <a class="nav-link inactive" aria-current="page" href=" {% url 'chnge_pass' %} ">change_pass</a>
        </li>

          
         
        
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>